/* 3.1. */
.button-container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  border: 2px solid #e4e4e4;
  padding: 20px;
}

.button {
  padding: 5px 15px;
  cursor: pointer;
  margin: 0px 5px;
}

.button:hover {
  color:teal;
}

/* 3.2. */